name: build

on:
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12.18.2
      uses: actions/setup-node@v1
      with:
        node-version: '12.18.2'
    - name: Install yarn
      run: |
        yarn
      env:
        CI: true
    - name: Publish to Github Packages Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      env:
        POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
      with:
        name: scoreboard-tcc/backendnovo/backend
        registry: docker.pkg.github.com
        username: ${{ secrets.GH_USERNAME }}
        password: ${{ secrets.GITHUB_TOKEN }}
        dockerfile: Dockerfile
        tags: latest
        buildargs: POSTGRES_URL
    - name: Deploy package to digitalocean
      uses: appleboy/ssh-action@master
      env:
        IMAGE: backend
        GH_USERNAME: ${{ secrets.GH_USERNAME }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        envs: IMAGE, GH_USERNAME, GITHUB_TOKEN
        script: |
          docker login docker.pkg.github.com -u $GH_USERNAME -p $GITHUB_TOKEN
          docker-compose stop $IMAGE || true
          docker-compose up --force-recreate --build -d $IMAGE